* {
  font-family: 'Roboto', 'Open Sans' , sans-serif;;
}
.container {
  position:absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display :flex;
  flex: 2 2 auto;
  width: 25em;
  height: 30em;
  min-width: fit-content;
  min-height: fit-content; 
  flex-direction: column;
  border: 0.05em solid rgb(147, 146, 146);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.header,
.footer{
  position: relative;
  background-color: #F8F8F8;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  min-height: 1.5em;
  flex-shrink: 1;
  color: #777 ;
}

.header-action {
  background: none;
  position: absolute;
  right: 1em;
  top: 00.5em;
  color: #E599C8;
  text-decoration: underline;
}

.header-action:focus,
.header-action:hover {
  cursor: pointer;
  color: rgb(153, 73, 229);
}

.header-title {
  
  text-transform: uppercase;  
  font-weight: bold;
}

.footer {
  text-transform: uppercase;
}


.body{
  padding: 2em 3em;
  height: 100%;
  background-color: #ECECEE;
 
}
.body-game{
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: stretch;
  justify-content: center;
  gap: 0.4em;
}


.start-btn{
  position: absolute;
  z-index: 300;
  left: 50%;
  min-height: 1.5em;
  translate:  -50%;
  padding: 0.5em 1.5em;
  background-color: #2EC0A6 ;
  color: white;
  text-transform: uppercase;
  border-radius: 3em;
  border: none ;
  align-self: center;
  
}

.start-btn:focus,
.start-btn:hover {
  background-color: green;
  cursor: pointer;
}

.cell {
  display: inline-block;
  padding: 0;
  min-width: 1em;
  min-height: 1em;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  border: 0.25em  solid rgb(209, 209, 209);
  background-color: transparent;
  z-index: 10;
}

 .on {
  background-color: #8A85BD;
}

.victory {
  background-color: #73DCE6;
}

.initial {
  background-color: transparent;
}