
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);
$cell-border : rgb(209, 209, 209);
$cell-active : #8A85BD;
$cell-victory : #73DCE6;
$cell-initial : transparent;
$background-light : #F8F8F8;
$background-dark : #ECECEE;
$text-main:  #777;
$header-action : #E599C8;
$header-action-hover : rgb(153, 73, 229);
$start-button : #2EC0A6 ;
$start-button-hover : rgb(157, 198, 157);
$box-shadow : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px